# Normal
set -x fish_color_normal "{{ice}}"
set -x fish_color_comment "{{palepink}}"
set -x fish_color_error "{{red}}"
# Commands and Operators
set -x fish_color_command "{{blue}}"
set -x fish_color_keyword "{{blue}}" --bold
set -x fish_color_redirection "{{blue}}"
set -x fish_color_end "{{blue}}"
set -x fish_color_param "{{ice}}"
set -x fish_color_operator "{{purple}}"
set -x fish_color_cancel "{{pink}}"
# Strings
set -x fish_color_quote "{{green}}"
set -x fish_color_escape "{{pink}}"
# Selections
set -x fish_color_selection "{{ice}}" --background="{{darkblue}}"
set -x fish_color_search_match "{{darkblue}}"
# Suggestions
set -x fish_color_autosuggestion "{{palepink}}"
# Prompt
set -x fish_color_cwd "{{yellow}}"
set -x fish_color_user "{{green}}"
set -x fish_color_host "{{purple}}"
set -x fish_color_host_remote "{{purple}}"
