## Completion
c.colors.completion.category.fg = "{{teal}}"
c.colors.completion.category.bg = "{{black}}"
c.colors.completion.category.border.top = "{{green}}"
c.colors.completion.category.border.bottom = "{{black}}"

c.colors.completion.fg = "{{darkblue}}"
c.colors.completion.even.bg = "{{teal}}"
c.colors.completion.odd.bg = "{{ice}}"
c.colors.completion.match.fg = "{{darkpink}}"

c.colors.completion.item.selected.fg = "{{ice}}"
c.colors.completion.item.selected.bg = "{{darkblue}}"
c.colors.completion.item.selected.match.fg = "{{darkpink}}"
c.colors.completion.item.selected.border.top = "{{darkblue}}"
c.colors.completion.item.selected.border.bottom = "{{darkblue}}"

c.colors.completion.scrollbar.fg = "{{palepink}}"
c.colors.completion.scrollbar.bg = "{{black}}"

## Context menu
# c.colors.contextmenu.menu.fg = None
# c.colors.contextmenu.menu.bg = None

# c.colors.contextmenu.selected.fg = None
# c.colors.contextmenu.selected.bg = None

# c.colors.contextmenu.disabled.fg = None
# c.colors.contextmenu.disabled.bg = None

## Downloads
# c.colors.downloads.bar.bg = "black"
# c.colors.downloads.error.fg = "white"
# c.colors.downloads.error.bg = "red"

# c.colors.downloads.start.fg = "white"
# c.colors.downloads.stop.fg = "white"
# c.colors.downloads.system.fg = "rgb"
# c.colors.downloads.start.bg = "#0000aa"
# c.colors.downloads.stop.bg = "#00aa00"
# c.colors.downloads.system.bg = "rgb"

## Hints
c.colors.hints.fg = "{{ice}}"
c.colors.hints.bg = "{{darkblue}}"
c.colors.hints.match.fg = "{{yellow}}"

c.colors.keyhint.fg = "{{ice}}"
c.colors.keyhint.bg = "{{darkblue}}"
c.colors.keyhint.suffix.fg = "{{yellow}}"

## Messages
c.colors.messages.info.fg = "{{darkblue}}"
c.colors.messages.info.bg = "{{teal}}"
c.colors.messages.info.border = "{{black}}"

c.colors.messages.warning.fg = "{{darkblue}}"
c.colors.messages.warning.bg = "{{yellow}}"
c.colors.messages.warning.border = "{{black}}"

c.colors.messages.error.fg = "{{darkblue}}"
c.colors.messages.error.bg = "{{red}}"
c.colors.messages.error.border = "{{black}}"

## Prompts
# c.colors.prompts.fg = "white"
# c.colors.prompts.bg = "#444444"
# c.colors.prompts.selected.bg = "grey"
# c.colors.prompts.border = "1px solid gray"

## Statusbar
c.colors.statusbar.normal.fg = "{{ice}}"
c.colors.statusbar.normal.bg = "{{darkblue}}"

c.colors.statusbar.insert.fg = "{{green}}"
c.colors.statusbar.insert.bg = "{{darkpurple}}"

c.colors.statusbar.command.fg = "{{ice}}"
c.colors.statusbar.command.bg = "{{darkblue}}"

c.colors.statusbar.caret.fg = "{{palepink}}"
c.colors.statusbar.caret.bg = "{{darkgreen}}"
c.colors.statusbar.caret.selection.fg = "{{palepink}}"
c.colors.statusbar.caret.selection.bg = "{{darkgreen}}"

c.colors.statusbar.passthrough.fg = "{{yellow}}"
c.colors.statusbar.passthrough.bg = "{{darkblue}}"

# c.colors.statusbar.private.fg = "white"
# c.colors.statusbar.private.bg = "#666666"

# c.colors.statusbar.command.private.fg = "white"
# c.colors.statusbar.command.private.bg = "darkslategray"

# c.colors.statusbar.progress.bg = "white"

c.colors.statusbar.url.fg = "{{palepink}}"
c.colors.statusbar.url.hover.fg = "{{green}}"
c.colors.statusbar.url.success.http.fg = "{{teal}}"
c.colors.statusbar.url.success.https.fg = "{{teal}}"
c.colors.statusbar.url.warn.fg = "{{yellow}}"
c.colors.statusbar.url.error.fg = "{{red}}"

## Tabs
c.colors.tabs.bar.bg = "{{black}}"

c.colors.tabs.even.fg = "{{ice}}"
c.colors.tabs.even.bg = "{{black}}"
c.colors.tabs.odd.fg = "{{ice}}"
c.colors.tabs.odd.bg = "{{black}}"

c.colors.tabs.selected.even.fg = "{{ice}}"
c.colors.tabs.selected.even.bg = "{{darkblue}}"
c.colors.tabs.selected.odd.fg = "{{ice}}"
c.colors.tabs.selected.odd.bg = "{{darkblue}}"

# c.colors.tabs.pinned.even.fg = "white"
# c.colors.tabs.pinned.even.bg = "darkseagreen"
# c.colors.tabs.pinned.odd.fg = "white"
# c.colors.tabs.pinned.odd.bg = "seagreen"

# c.colors.tabs.pinned.selected.even.fg = "white"
# c.colors.tabs.pinned.selected.even.bg = "black"
# c.colors.tabs.pinned.selected.odd.fg = "white"
# c.colors.tabs.pinned.selected.odd.bg = "black"

c.colors.tabs.indicator.start = "{{yellow}}"
c.colors.tabs.indicator.stop = "{{green}}"
c.colors.tabs.indicator.system = "rgb"
c.colors.tabs.indicator.error = "{{red}}"

## Webpages
c.colors.webpage.bg = "{{black}}"

# c.colors.webpage.darkmode.enabled = True
# c.colors.webpage.darkmode.algorithm = "lightness-cielab"
# c.colors.webpage.darkmode.grayscale.all = False
# c.colors.webpage.darkmode.policy.images = "never"
# c.colors.webpage.darkmode.policy.page = "smart"
c.colors.webpage.preferred_color_scheme = "dark"
# c.colors.webpage.darkmode.contrast = 0.0
# c.colors.webpage.darkmode.grayscale.images = 0.0
# c.colors.webpage.darkmode.threshold.text = 256
# c.colors.webpage.darkmode.threshold.background = 0
