{
  "manifest_version": 2,
  "version": "1.0",
  "name": "Blueper",
  "author": "Wolf Honore",
  "homepage_url": "https://github.com/whonore/vim-blueper",
  "description": "A blueish color scheme.",
  "theme": {
    "colors": {
      "button_background": {{darkpink}},
      "icons": {{teal}},
      "icons_attention": {{yellow}},
      "frame": {{black}},
      "frame_inactive": {{darkgrey}},
      "frame_incognito": {{darkpurple}},
      "frame_incognito_inactive": {{darkgrey}},
      "ntp_background": {{black}},
      "ntp_text": {{ice}},
      "ntp_header": {{darkblue}},
      "ntp_link": {{teal}},
      "tab_background_text": {{ice}},
      "tab_text": {{ice}},
      "tab_background_text_inactive": {{ice}},
      "tab_background_text_incognito": {{ice}},
      "tab_background_text_incognito_inactive": {{ice}},
      "background_tab": {{black}},
      "background_tab_inactive": {{darkgrey}},
      "background_tab_incognito": {{darkpurple}},
      "background_tab_incognito_inactive": {{darkgrey}},
      "omnibox_text": {{black}},
      "omnibox_background" : {{blue}},
      "toolbar": {{darkblue}},
      "toolbar_button_icon": {{teal}},
      "bookmark_text": {{ice}}
    }
  }
}
