// Docs:
// https://developer.mozilla.org/en-US/docs/Mozilla/Add-ons/WebExtensions/manifest.json/theme
{
  "manifest_version": 2,
  "version": "1.0",
  "name": "Blueper",
  "author": "Wolf Honore",
  "homepage_url": "https://github.com/whonore/vim-blueper",
  "description": "A blueish color scheme.",
  "theme": {
    "colors": {
      "button_background_active": "{{darkpink}}",
      "button_background_hover": "{{darkpurple}}",
      "icons": "{{teal}}",
      "icons_attention": "{{yellow}}",
      "frame": "{{black}}",
      "frame_inactive": "{{darkgrey}}",
      "ntp_background": "{{black}}",
      "ntp_text": "{{ice}}",
      "popup": "{{black}}",
      "popup_border": "{{pink}}",
      "popup_highlight": "{{darkblue}}",
      "popup_highlight_text": "{{ice}}",
      "popup_text": "{{ice}}",
      "sidebar": "{{black}}",
      "sidebar_border": "{{pink}}",
      "sidebar_highlight": "{{darkblue}}",
      "sidebar_highlight_text": "{{ice}}",
      "sidebar_text": "{{ice}}",
      "tab_background_separator": "{{green}}",
      "tab_background_text": "{{ice}}",
      "tab_line": "{{green}}",
      "tab_loading": "{{teal}}",
      "tab_selected": "{{darkblue}}",
      "tab_text": "{{ice}}",
      "toolbar": "{{darkblue}}",
      "toolbar_bottom_separator": "{{black}}",
      "toolbar_field": "{{blue}}",
      "toolbar_field_border": "{{yellow}}",
      "toolbar_field_border_focus": "{{yellow}}",
      "toolbar_field_focus": "{{blue}}",
      "toolbar_field_highlight": "{{darkblue}}",
      "toolbar_field_highlight_text": "{{ice}}",
      "toolbar_field_separator": "{{darkblue}}",
      "toolbar_field_text": "{{black}}",
      "toolbar_field_text_focus": "{{black}}",
      "bookmark_text": "{{ice}}",
      "toolbar_top_separator": "{{black}}",
      "toolbar_vertical_separator": "{{palepink}}"
    }
  }
}
