Column BG,?,Active Item,Active Item Text,Hover Item,Text Color,Active Presence,Mention Badge,Top Nav BG,Top Nav Text
{{darkblue}},{{red}},{{teal}},{{black}},{{darkpurple}},{{ice}},{{green}},{{pink}},{{darkblue}},{{ice}}
