foreground              {{ice}}
background              {{black}}

color0                  {{black}}
color1                  {{red}}
color2                  {{green}}
color3                  {{yellow}}
color4                  {{blue}}
color5                  {{purple}}
color6                  {{teal}}
color7                  {{ice}}
color8                  {{darkgrey}}
color9                  {{red}}
color10                 {{green}}
color11                 {{yellow}}
color12                 {{blue}}
color13                 {{pink}}
color14                 {{teal}}
color15                 {{grey}}

cursor                  {{grey}}
cursor_text_color       background

selection_foreground    none
selection_background    {{darkblue}}

url_color               {{pink}}

active_border_color     {{darkblue}}
inactive_border_color   {{grey}}
bell_border_color       {{yellow}}
active_tab_foreground   {{black}}
active_tab_background   {{teal}}
inactive_tab_foreground {{ice}}
inactive_tab_background {{darkblue}}
# tab_bar_background
