# GUI - STATUS
status.notice.fgcolor = {{ice}}
status.notice.bgcolor = {{darkblue}}
status.error.fgcolor = {{red}}
status.error.bgcolor = {{darkblue}}
status.edit.fgcolor = {{TODO}}
status.edit.bgcolor = {{TODO}}
status.font = SansSerif,plain,12

# GUI - TABS
header.bgcolor = {{darkblue}}
header.text.selected.color = {{darkblue}}
header.text.unselected.color = {{black}}
header.text.font = SansSerif,plain,12

# GUI - CONSOLE
console.font = Monospaced,plain,11
console.font.macosx = Monaco,plain,10
console.color = {{black}}
console.output.color = {{ice}}
console.error.color = {{red}}

# GUI - BUTTONS
buttons.bgcolor = {{darkblue}}
buttons.status.font = SansSerif,plain,12
buttons.status.color = {{ice}}

# GUI - PLOTTING
plotting.bgcolor = {{TODO}}
plotting.color = {{TODO}}
plotting.gridcolor = {{TODO}}
plotting.boundscolor = {{TODO}}
plotting.graphcolor.size = 8
plotting.graphcolor.00 = {{TODO}}
plotting.graphcolor.01 = {{TODO}}
plotting.graphcolor.02 = {{TODO}}
plotting.graphcolor.03 = {{TODO}}
plotting.graphcolor.04 = {{TODO}}
plotting.graphcolor.05 = {{TODO}}
plotting.graphcolor.06 = {{TODO}}
plotting.graphcolor.07 = {{TODO}}

# GUI - LINESTATUS
linestatus.color = {{ice}}
linestatus.bgcolor = {{darkblue}}
linestatus.font	= SansSerif,plain,10
linestatus.height = 20

# EDITOR - DETAILS
# foreground and background colors
editor.fgcolor = {{ice}}
editor.bgcolor = {{black}}

# highlight for the current line
editor.linehighlight.color={{darkblue}}
editor.linehighlight=true

# caret blinking and caret color
editor.caret.color = {{grey}}

# color to be used for background when 'external editor' enabled
editor.external.bgcolor = {{TODO}}

# selection color
editor.selection.color = {{darkblue}}

# area that's not in use by the text (replaced with tildes)
editor.invalid.style = {{TODO}},bold

# little pooties at the end of lines that show where they finish
editor.eolmarkers = false
editor.eolmarkers.color = {{TODO}}

# bracket/brace highlighting
editor.brackethighlight = true
editor.brackethighlight.color = {{ice}}

# TEXT - KEYWORDS
# FUNCTIONS
editor.keyword1.style = {{purple}},plain
editor.data_type.style = {{purple}},plain

# METHODS
editor.keyword2.style = {{ice}},plain
editor.function.style = {{ice}},plain

# STRUCTURES
editor.keyword3.style = {{blue}},bold
editor.reserved_word.style = {{blue}},bold

# TEXT - LITERALS
editor.literal1.style = {{TODO}},plain
editor.literal2.style = {{TODO}},plain
editor.variable.style = {{ice}},plain
editor.reserved_word_2.style = {{purple}},plain
editor.literal_boolean.style = {{yellow}},plain
editor.literal_char.style = {{green}},plain
editor.literal_string_double_quote.style = {{green}},plain
editor.preprocessor.style = {{teal}},bold

# http://www.arduino.cc/
editor.url.style = {{ice}},underlined

# e.g. + - = /
editor.operator.style = {{blue}},plain

# ?? maybe this is for words followed by a colon
# like in case statements or goto
editor.label.style = {{blue}},bold

# TEXT - COMMENTS
editor.comment1.style = {{palepink}},plain
editor.comment2.style = {{palepink}},plain
